<div class="form-group row">
	<label class="control-label col-sm-3"><%= field_name %></label>
	<div class="col-md-8" style="position: relative; top: 7px; left: 5px;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row" style="height: 20px">
					<div class="col-md-10"><%= heading_title %></div>
					<div class="col-md-2">
						<div class="row" id="relation_action"></div>
					</div>
				</div>

			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<thead>
								<tr id="relation_headers"></tr>
							</thead>
							<tbody id="relations"></tbody>
						</table>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</div>
</div>