<div class="form-group">
	<label class="col-md-3 control-label" style="height: 25px;"><%= getWordLike(field_name) %></label>
	<div class="col-md-3" style="height: 25px;">
	
<% if (accessMode === "read") { %>
		<span style="position: relative; top: 7px; left: 13px;"><%= field_value %></span>
<% } else if (accessMode === "edit") { %>
		<div class="input-group date" id="<%= field_name %>">
  <input type="text" class="form-control" value="<%= field_value %>"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</div>
<% } %>

	</div>
</div>


