<nav aria-label="Pages">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <!-- 
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
     -->
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<!--  
<div class="editor-paginator">
	<ul>
		<li class="disabled"><a href="#" title="First">&gt;&gt;</a></li>
		<li class="disabled"><a href="#" title="Previous">&gt;</a></li>
		<li class="active"><a href="#" title="Page 1">1</a></li>
		<li class="disabled"><a href="#" title="Next">&lt;</a></li>
		<li class="disabled"><a href="#" title="Last">&lt;&lt;</a></li>
	</ul>
</div>
-->